<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Domowy Budżet - czyli jak nie zbankrutować</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/milobudzet/css/style.css') }}">
</head>
<body>
    <div class="kontener">
        
        <div class="logo">
            <h1>BUDŻET DOMOWY</h1>
        </div>
        <div class="widget miesiac-suma">
            <div class="title">
                <span>Miesiąc: {{ data|date('m/Y') }}</span>
                <a href="{{ path('milo_budzet_forms_zmienMiesiac') }}"><button>Zmień</button></a>
            </div>
            <h4>Przychody: {{ przychody_sumy.Suma }} zł</h4>
            <h4>Wydatki: {{ sumaWydatkow }} zł</h4>
        </div>
        <div class="widget przychody-ogol">
            <div class="title">
                <span>Przychody</span>
                <a href="{{ path('milo_budzet_forms_dodajPrzychod') }}"><button>Dodaj nowy</button></a>
            </div>
            <table class="przychody-tabela">
                <thead>
                    <tr>
                        <th>Kategoria</th>
                        <th>Przychód</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Przychody</th>
                        <th>{{ przychody_sumy.Suma }} zł</th>
                    </tr>
                   {% for nazwa, suma in przychody_sumy if nazwa != 'Suma' %}
                        <tr>
                            <td>{{ nazwa }}</td>
                            <td>{{ suma }} zł</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="widget wydatki-ogol">
            <div class="title">
                <span>Wydatki</span>
                <a href="{{ path('milo_budzet_forms_dodajWydatek') }}"><button>Dodaj nowy</button></a>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Kategoria</th>
                        <th>Wydatki</th>
                    </tr>
                </thead>
                <tbody>
                    {% for kategoria, grupy in wydatki_sumy %}
                    <tr>
                        <th>{{ kategoria }}</th>
                        <th>{{ grupy.Suma }} zł</th>
                    </tr>
                        {% for nazwa, suma in grupy if nazwa != 'Suma' %}
                        <tr>
                            <td>{{ nazwa }}</td>
                            <td>{{ suma }} zł</td>
                        </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>