<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Domowy Budżet - czyli jak nie zbankrutować</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/milobudzet/css/style.css') }}">
</head>
<body>
    <div class="kontener">
        
        <div class="logo">
            <h1>BUDŻET DOMOWY</h1>
        </div>
        <div class="widget miesiac-suma">
            <div class="title">
                <span>Miesiąc: {{ tabelaWydatkow.data|date('m/Y') }}</span>
                <a href="{{ path('milo_budzet_forms_zmienMiesiac') }}"><button>Zmień</button></a>
            </div>
            <h4>Przychody: {{ tabelaSumPrzychodow.przychody_sumy.Suma|number_format(2, ',', ' ') }} zł</h4>
            <h4>Wydatki: {{ tabelaSumWydatkow.sumaWydatkow|number_format(2, ',', ' ') }} zł</h4>
        </div>
        <div class="widget przychody-ogol">
            <div class="title">
                <span>Przychody</span>
                <a href="{{ path('milo_budzet_forms_dodajPrzychod') }}"><button>Dodaj nowy</button></a>
            </div>
            <div class="tabela-ogol">
                <table>
                    <thead>
                        <tr>
                            <th>Kategoria</th>
                            <th>Przychód</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Przychody</th>
                            <th>{{ tabelaSumPrzychodow.przychody_sumy.Suma|number_format(2, ',', ' ') }} zł</th>
                        </tr>
                       {% for nazwa, suma in tabelaSumPrzychodow.przychody_sumy if nazwa != 'Suma' %}
                        <tr>
                            <td>{{ nazwa }}</td>
                            <td>{{ suma|number_format(2, ',', ' ') }} zł</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tabela-szczegoly">
                <table>
                    <thead>
                        <tr>
                            {% for suma_dzien in tabelaPrzychodow.przychody_dzien %}
                            <th>{{ suma_dzien|number_format(2, ',', ' ') }} zł</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for i in 1..tabelaWydatkow.ileDni %}
                            <th>{{ i }}</th>
                            {% endfor %}
                        </tr>
                        {% for nazwa, przychody_dni in tabelaPrzychodow.przychody %}
                        <tr>
                            {% for dzien, przychod in przychody_dni if dzien != 'id' %}
                                <td>
                                    <a href="{{ path('milo_budzet_pokazDzienne', {'rodzaj': 'Przychod', 'typ': przychody_dni.id, 'okres': tabelaPrzychodow.data|date('Y-m')~'-'~"%02d"|format(dzien)}) }}">
                                        {{ przychod is not null ? przychod|number_format(2, ',', ' ') : ' ' }}
                                    </a>
                                </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="widget wydatki-ogol">
            <div class="title">
                <span>Wydatki</span>
                <a href="{{ path('milo_budzet_forms_dodajWydatek') }}"><button>Dodaj nowy</button></a>
            </div>
            <div class="tabela-ogol">
                <table>
                    <thead>
                        <tr>
                            <th>Kategoria</th>
                            <th>Wydatki</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for kategoria, grupy in tabelaSumWydatkow.wydatki_sumy %}
                        <tr>
                            <th>{{ kategoria }}</th>
                            <th>{{ grupy.Suma|number_format(2, ',', ' ') }} zł</th>
                        </tr>
                            {% for nazwa, suma in grupy if nazwa != 'Suma' %}
                            <tr>
                                <td>{{ nazwa }}</td>
                                <td>{{ suma|number_format(2, ',', ' ') }} zł</td>
                            </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tabela-szczegoly">
                <table>
                    <thead>
                        <tr>
                            {% for suma_dzien in tabelaWydatkow.wydatki_dzien %}
                            <th>{{ suma_dzien|number_format(2, ',', ' ') }} zł</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for kategoria, grupy in tabelaWydatkow.wydatki %}
                        <tr>
                            {% for i in 1..tabelaWydatkow.ileDni %}
                            <th>{{ i }}</th>
                            {% endfor %}
                        </tr>
                            {% for nazwa, wydatki_dni in grupy %}
                            <tr>
                                {% for dzien, wydatek in wydatki_dni if dzien != 'id' %}
                                    <td>
                                        <a href="{{ path('milo_budzet_pokazDzienne', {'rodzaj': 'Wydatek', 'typ': wydatki_dni.id, 'okres': tabelaWydatkow.data|date('Y-m')~'-'~"%02d"|format(dzien)}) }}">
                                            {{ wydatek is not null ? wydatek|number_format(2, ',', ' ') : ' ' }}
                                        </a>
                                    </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>